aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
discord==2.3.2
discord.py==2.5.0
frozenlist==1.5.0
greenlet==3.1.1
idna==3.10
multidict==6.1.0
propcache==0.3.0
py-cord @ git+https://github.com/Pycord-Development/pycord@ace28d8ea00ab9fc4fae794bdabd1a4eae2bc7c8
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.38
typing_extensions==4.12.2
urllib3==2.3.0
yarl==1.18.3
